[project]
	description = just another repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rahul0571
[access "refs/for/refs/*"]
	read = group user/rahul0571
	push = group user/rahul0571
	label-Code-Review = -2..+2 group user/rahul0571
	label-Verified = -1..+1 group user/rahul0571
	rebase = group user/rahul0571
	removeReviewer = group user/rahul0571
	submit = group user/rahul0571
[access "refs/heads/*"]
	read = group user/rahul0571
	create = group user/rahul0571
	push = +force group user/rahul0571
	pushMerge = group user/rahul0571
[access "refs/tags/*"]
	push = group user/rahul0571
	push = +force group user/rahul0571
